/*@import url(//fonts.googleapis.com/css?family=Roboto:400,900);*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}
label {
	text-transform: uppercase;
	margin: 10px 10px 0 0;
	float: left;
	font:14px/16px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'roboto', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 1.2em;
}
input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea{
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h2{font-size: 30px;}
h1 {font-size: 36px;}
h3 {font-size: 24px;}
button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}
*::-webkit-input-placeholder {color:#6e6e6e;}
*::-moz-placeholder { color:#6e6e6e;}
*:-ms-input-placeholder {color:#6e6e6e;}
button,
input[type=submit],
.btn {
	text-transform: uppercase;
	display: block;
	text-align: center;
	border: none;
	padding: 0;
	width: 182px;
	height: 40px;
	background: #444;
	color: #fff;
	font: 14px/40px 'roboto', Arial, Helvetica, sans-serif;
	float: left;
}
button.white,
input[type=submit].white,
.btn.white {
	background: #fff;
	color: #6e6e6e;
}
button.black,
input[type=submit].black,
.btn.black {
	background: #444;
	color: #fff;	
}
button.big,
input[type=submit].big,
.btn.big {
	width: 270px;
	height: 64px;
	font: 14px/64px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
}
button.normal,
input[type=submit].normal,
.btn.normal {
	width: 182px;
	height: 40px;
	font: 14px/40px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
}
.btn-delete:hover,
.btn:hover {
	text-decoration: none;
	opacity: 0.9;
}

body,
html {height: 100%;}
body{
	background: #fff;
	margin:0;
	color:#6e6e6e;
	font:18px Arial, Helvetica, sans-serif;
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#6e6e6e; font-size: 30px; font-weight: 700; font-family: roboto;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-holder {
	width:100%;
    display:table-row;
}
#header {
	margin: 0 auto;
	padding: 50px 20px 45px;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/btn_mobile_menu.png) no-repeat;
	text-indent: -9999em;
	display: none;
	top: 15px;
	position: absolute;
}
.logo {
	height: 21px;
	display: block;
	font-family: roboto;
	font-size: 24px;
	margin-left: -7px;
}
.logo a {
	display: block;
	height: 100%;
}
.ad {
	margin-top: 10px; border: 4px solid #263248;
}
.top-bar {
	width: 100%;
	padding: 0 0 120px;
}
.top-bar:after {
    content:'';
    display:block;
    clear:both;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:400;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family:"Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}
#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}
#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}
#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}
#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}
#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}
#primary_nav_wrap ul li:hover > ul
{
	display:block
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex-item-face {
  list-style: none;
  background: #7E8AA2;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  /*font-size: 3em;*/
  text-align: center;
}
.flex-item-price {
  list-style: none;
  background: #7E8AA2;
  padding: 5px;
  width: 200px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
.flex-item-date {
  list-style: none;
  background: #7E8AA2;
  padding: 5px;
  width: 200px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
.flex-item-ad {
  width: 100%;
  text-align: center;
}
.product-box {
  display: block;
  padding: 10px;
  margin: 0 10px 0 10px;
}
.bottom-container {
	width: 100%;
	margin: 0 auto;
}
.bottom-catalogue {
	text-align: center;
}